huggingface-hub==0.0.12
nltk==3.5
numpy==1.23.2
openai==0.23.0
pandas==1.4.3
rouge==1.0.1
sentence-transformers==2.2.2
transformers==4.21.1
spacy==3.0.6
pyserini==0.19.2
faiss-gpu==1.7.2
accelerate==0.17.1
bitsandbytes==0.37.2